/*
titel: Footerpages
beschrijving: De MailController is verantwoordelijk voor het verzenden van e-mails.
    De sendEmail methode haalt de welkomstmail op en verzendt deze naar het opgegeven adres.
auteur: Pascal Thomasse Mol
versie: 2
aanmaaktdatum: 23 jun 2023
laatste wijzigingsdatum: 29 jun 2023
*/

.black_h1{    
    padding: 10px 0 20px 0;
    border-bottom: 1px solid silver;
}


.blue_h2{
    color: #2691d9;
}


.faq_section{
    margin: 3rem auto;
    padding: 2rem;
    width: 30rem;
    border: 1px solid silver;
    border-radius: 10px;
}


.submit_button{
    margin-top: 1em;
    padding: 0.5rem;
    background-color: #2691d9;
    border-radius: 10px;
    border: none;
    color: white;    
}
.submit_button:hover{   
    background-color: #1c6ba0;
}
