/*
titel: Forms
beschrijving: De MailController is verantwoordelijk voor het verzenden van e-mails.
    De sendEmail methode haalt de welkomstmail op en verzendt deze naar het opgegeven adres.
auteur: Pascal Thomasse Mol
versie: 2
aanmaaktdatum: 23 jun 2023
laatste wijzigingsdatum: 29 jun 2023
*/

.form_container {
  position: relative;
  min-height: 70vh;
}

.form_box {
  width: 30rem;
  background: white;
  border-radius: 10px;
  border: 1px solid silver;
  margin: 5rem auto;
  padding: 0 2.5rem;
}


.form_box h1 {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid silver;
}


.form_field {
  width: 100%;
  padding: 0 5px;
  height: 2rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 2px solid #2691d9;
  background: none;
  outline: none;
  position: relative;
  margin: 0.5rem 0;
}

.from_field label {
  position: absolute;
  width: 100%;
  font-size: 1rem;
  border: none;
  color: darkgray;
}

.submitbutton {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
  background-color: #2691d9;
  border-radius: 5px;
  border: none;
  height: 2rem;
  font-size: 1rem;
  ;
  font-weight: bold;
  color: white;
}

.deletebutton {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
  background-color: #d92c26;
  border-radius: 5px;
  border: none;
  height: 2rem;
  font-size: 1rem;
  ;
  font-weight: bold;
  color: white;
}

.submitbutton:hover {
  cursor: pointer;
  background-color: #1c6ba0;
}

.deletebutton:hover {
  cursor: pointer;
  background-color: #7e1310;
}


.text_error {
  color: rgb(151, 70, 70);
  font-size: 0.8rem;
  padding-left: 2.5rem;
}

.checkbox_field {
  color: #f18989;
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  border: none;
  border-bottom: 2px solid #2691d9;
}

.custom-dropdown .dropdown-toggle {
  background-color: #fff;
  border: solid grey 1px;
  border-radius: 10px;
  padding: 8px 12px;
  color: #2691d9;
  font-weight: bold;
}

.arrow-down::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2691d9;
  vertical-align: middle;
}

.dropdown-menu {
  border-radius: 10px;
}

.dropdown-item {
  padding: 8px 16px;
}

.text_field {
  padding: 2mm;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.loginbutton {
  margin-top: 2mm;
  display: flex;
  justify-content: flex-end;
  outline: none;
}

.button_1 {
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 10px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid grey;
  letter-spacing: 2px;
  min-width: 80px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  color: #616467;
  background-color: white;
  height: 30px;
}

.date-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.date-box {
  width: calc(100% / 6);
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
}

.date-box input[type="radio"] {
  display: none;
}

.date-box input[type="radio"]:checked + label {
  background-color: #e0e0e0;
}

.custom-checkbox .checkmark {
  width: 10rem;
  height: 10rem;
  border: 2px solid #222;
  display: inline-block;
  border-radius: 6px;
  background: white;
}

.custom-checkbox input:checked+.checkmark {
  background: #2691d9;
}

.custom-checkbox input {
  display: none;
}

@media (max-width: 767px) {
  .custom-checkbox .checkmark {
    width: 5rem; /* Adjust the width for mobile devices */
    height: 10rem; /* Adjust the height for mobile devices */
  }
}